a 
{
	color: #000;
    opacity: .75;
	text-decoration: none;
}

a:hover
{
    opacity: .85;
    text-decoration: underline;
}

body, td, a, p, .h {
    font-family: arial,sans-serif;
}

.container
{
	padding-top:157px
}

header
{
    margin-top:16px;
}

.logo
{
	background-image: url("../img/logo.png");
    background-repeat: no-repeat;
   	background-size: 272px 92px;
    height: 92px;
    width: 272px;
    margin:25 auto;
    position: relative;
}

.logo-subtext
{
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 215px;
    position: relative;
    top: 76px;
    white-space: nowrap;
}

form 
{
	width: 632px;
	margin:0 auto;
    padding-top:3px;
    padding-left:14px;
}

input[type="button"], input[type="submit"]
{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;

    height: 36px;
    line-height: 27px;
}

.searchButtons
{
	padding-top: 21px;
    padding-right: 14px;
}

.searchButtons input[type="submit"]
{
    margin-right:0;
}

.searchButtons input[type="submit"]:focus, .searchButtons input:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.searchButtons input[type="submit"]:hover, .searchButtons input:hover{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

ul.menu 
{
    float: right;
    margin:0;
    padding-right: 30px;
}

ul.menu li
{
    display: inline;
}
ul.menu li a
{
    font-size: 13px;
}

a#tools
{
    display: inline-block;
    vertical-align: middle;
	width:30px;
	height:30px;
	background-image: url(../img/toolsIcons.png);
    -webkit-background-size: 528px 68px;
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
}

#login
{
    height:30px;
    font-size: 13px;
    margin:0 0 0 10px;
    padding: 0 12px;
    line-height: 28px;
    color: #fff;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
}

.pseudoInput
{
    background-color: #fff;
    height: 44px;
    width: 584px;
    margin: 0 auto;
    vertical-align: top;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    padding: 5px 16px 0;
    position:relative;
    vertical-align: middle;
}

.pseudoInput:before
{
    height: 11px;
    line-height: 0;
    width: 19px;
    background: url(../img/tia.png) no-repeat;
    content: "";
    display: block;
    position: absolute;
    bottom: 17px;
    right: 59px;
    cursor: pointer;
}

.pseudoInput:after
{
    width: 24px;
    height: 24px;
    background: url(../img/microphone.png) no-repeat -3px 0;
    background-size: 24px 24px;
    content: "";
    display: block;
    position: absolute;
    bottom: 10px;
    right: 13px;
    cursor: pointer;
}

.pseudoInput:hover, .pseudoInput:focus
{
    box-shadow:0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
    border:none;
}

.searchInput
{
    border: none;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    background: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D) transparent;
    z-index: 6;
    left: 0px;
    outline: none;

    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;

    unicode-bidi: -webkit-isolate;
    unicode-bidi: isolate;
}

.keyboardIcon
{
    vertical-align: middle;
    opacity: 0.6;
    background: url(data:image/gif;base64,R0lGODlhEwALAKECAAAAABISEv///////yH5BAEKAAIALAAAAAATAAsAAAIdDI6pZ+suQJyy0ocV3bbm33EcCArmiUYk1qxAUAAAOw==) no-repeat center;
    display: inline-block;
    height: 11px;
    line-height: 0;
    width: 19px;
}
.keyboardIcon img
{
    visibility: hidden;
}

.keyboardLink
{
    text-align: center;
    width: 24px;
    padding: 0 8px;
    cursor: pointer;
    display: inline-block;
    color: #1a0dab;
    text-decoration: none;
    line-height: 44px;
}

.searchIcons
{
    line-height: 44px;
    padding: 0 8px;
    margin-top: -1px;
    position: static;
    float: right;
    vertical-align: top;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

.searchInputBlock
{
}

footer
{
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    height: 40px;
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    font-size: 10pt;
}

footer a
{
    font-size: small;
    opacity: 1;
    display: inline-block;
    color: #666;
    padding-left: 27px;
}

.left 
{
    line-height: 40px;
    float:left;
    padding-left: 3px;
}

.right 
{
    float:right;
    line-height: 40px;
    margin-right: 30px;
}